<div id="cards_landscape_wrap-2" style="height: 80%;">
    <div class="container" style="height: 80%;">
        <div class="row" *ngIf="!showLoading">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 pb-3" *ngFor="let data of articleData;">
                
                    <div class="card h-100 text-center">
                        <div class="image-box">
                        <img src="../../../assets/images/article-image.png" class="card-img-top" alt="...">
                    </div>
                        <div class="card-body">
                          <h5 class="card-title">{{data.title}}</h5>
                          <p class="card-text">{{data.content}}</p>
                        
                        </div>
                        <div class="card-footer ">
                            <a (click)="deleteArticle(data._id)" class="btn button-css float-start">Delete</a>
                          </div>
                      </div>
            </div>
        </div>
        <div *ngIf="showLoading" style="height: 100%;" class="d-flex justify-content-center align-items-center">
            <app-loading></app-loading>
        </div>
    </div>
</div>