<div class="row">
    <div class="col col-lg-4 col-md-4" [ngClass]="getClassName1()">
        <h3 class="blue-default-text">{{heading1}}</h3>
    </div>
    <div class="d-grid   offset-md-4 col-md-2  d-none d-sm-block" [ngClass]="getClassName()"> 
        <button (click)="buttonClick()" class="btn blue-default btn-rounded float-end" data-bs-toggle="modal"
            [attr.data-bs-target]="modalType" *ngIf="addButtonDisplay">
            <i style="padding-right:3px;" [ngClass]="getIcons()"></i>
            {{addButtonText}}
        </button>

    </div>
    <div class="d-grid col-lg-2  col-md-4  d-none d-sm-block" style="width: 11%;">
        <button class="btn blue-default btn-rounded float-end" data-bs-toggle="modal" [attr.data-bs-target]="modalType"
            *ngIf="activeRoute === 'texteditor'">
            <i style="padding-right:3px;" class="fa fa-trash" aria-hidden="true"></i>
            Discard
        </button>
    </div>
    <div class="d-grid d-block d-sm-none" [ngClass]="getClassName2()">
        <button (click)="buttonClick()" class="btn blue-default btn-rounded float-end" data-bs-toggle="modal"
            [attr.data-bs-target]="modalType" *ngIf="addButtonDisplay">
            <i [ngClass]="getIcons()"></i>
            {{mobileViewButtonText}}
        </button>
    </div>
    <div class="d-grid col-3 d-block d-sm-none">
        <button class="btn blue-default btn-rounded float-end" data-bs-toggle="modal" [attr.data-bs-target]="modalType"
            *ngIf="activeRoute === 'texteditor'">
            <i class="fa fa-trash" aria-hidden="true"></i>

        </button>
    </div>
</div>

<app-modal *ngIf="heading1 == 'Work-in-Progress'" [modalTitle]="'Add A New Project'" [inputOneLabel]="'Title'"
    [inputTwoLabel]="'Gitlab'" [inputThreeLabel]="'Team'" [inputThreeLabelType]="'text'" [inputFourLabel]="'Images'"
    [inputFiveLabel]="'Description'" [inputOnePlaceholder]="'Enter Project Title'" [inputTwoPlaceholder]="'Enter Repo Link ...'"></app-modal>


<app-modal *ngIf="heading1 == 'Upcoming'" [modalTitle]="'Add A New Event'" [inputOneLabel]="'Title'"
    [inputTwoLabel]="'Venue'" [inputThreeLabel]="'Date'" [inputThreeLabelType]="'datetime-local'"
    [inputFourLabel]="'Images'" [inputFiveLabel]="'Description'" [inputOnePlaceholder]="'Enter Event Title'" [inputTwoPlaceholder]="'Enter Venue'"></app-modal>

<app-team-modal></app-team-modal>