input {
  border-radius: 10px;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
  height: 30px;
  margin-top: 6px;
}

label {
  font-size: 18px;
}

.asterisk:after {
  content: "*";
  color: red;
}

.modal-dialog {
  max-width: 1000px !important;
}

textarea {
  border-radius: 10px;
  opacity: 1;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #707070;
}

.uploadImage {
  height: 100px;
  width: 100px;
  border: 1px solid #707070;
  border-radius: 10px;
  background: #f0f0f0 0% 0% no-repeat padding-box;
  cursor: pointer;
}

.btn-label {
  position: relative;
  left: -5px;
  display: inline-block;
  color: var(--primary-color);
}

.btn-label-1 {
  position: relative;
  left: -5px;
  display: inline-block;
  color: white;
}

.discard-button {
  background: #ffffff;
  box-shadow: 0px 3px 6px #00000033;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  opacity: 1;
  padding: 4px 12px !important;
}

.discard-button-1 {
  background: var(--primary-color);
  box-shadow: 0px 3px 6px #00000033;
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 12px;
  opacity: 1;
  padding: 4px 12px !important;
}

.discard-button-1:disabled {
  background: #cccccc;
  box-shadow: 0px 3px 6px #00000033;
  color: white;
  border: 2px solid #cccccc;
  border-radius: 12px;
  opacity: 1;
  padding: 4px 12px !important;
}

.imageName {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.image-cancel {
  position: relative;
  top: 1.3rem;
  left: 3.5rem;
  cursor: pointer;
}
